.container {
    display: flex;
}

.box {
    width: 200px;
    height: 100px;
    padding: 20px;
    border: 10px solid red;
    background-color: orange;
}

.content-box {
    box-sizing: content-box;
}

.border-box {
    box-sizing: border-box;
}
